.box {
  height: calc(100vh - 55px - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#background {
  background-image: url(../../img/pokemon-background.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.box-image img {
  animation: anima;
  animation-duration: 800ms;
  margin: auto;
  border-radius: 20px;
}

@keyframes anima {
  from {
    transform: translate(-50px, 00);
  }
  to {
    transform: translate(0px, 00);
  }
}

.box-cursor {
  background-color: black;
  justify-content: center;
  display: flex;
  padding: 20px 0;
}

.box-cursor span {
  width: 15px;
  height: 15px;
  margin-right: 2%;
  border-radius: 50%;
  cursor: pointer;
  background: #0c3559;
}
.box-cursor span.marker {
  background-color: var(--color-medium-blue);
}
