#modal-pokemon {
  display: none;
  position: fixed;
  z-index: 2000;
  padding: 2rem 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.modal-container {
  background: var(--color-dark-dark-blue);
  margin: auto;
  width: 60%;
  height: 95%;
  position: relative;
  border-radius: 6px;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadown-modal);
}
.modal-container .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-container .close:hover,
.modal-container .close:focus {
  color: var(--color-light-blue);
  text-decoration: none;
  cursor: pointer;
}
.close-modal {
  width: 5rem;
  height: 5rem;
  background: var(--color-medium-gray);
  border-radius: 0.3rem;
  border: none;
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 24px;
  right: -5px;
  box-shadow: var(--shadown-modal);
  cursor: pointer;
}
