#form-filters {
  display: grid;
  background: var(--gradient-background);
}
#form-filters,
#results-header {
  padding: 0 2rem;
}
.filter-title {
  display: block;
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
  margin: 2rem 0;
}
#name-pokemon,
.order-calculation {
  box-shadow: var(--shadown-drop-medium);
  font-weight: 600;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
}
option {
  font-size: 1.5rem;
}  
#name-pokemon {
  border: var(--border-input);
  background-color: var(--color-light-blue);
  background-image: url(../../img/icons/icon-search.png);
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 2rem;
  width: 260px;
  padding: 0.85rem 1rem;
  margin-bottom: 2rem;
}
#name-pokemon::placeholder {
  color: var(--color-dark-blue);
  font-weight: 600;
  font-size: 1.4rem;
}
#name-pokemon:focus {
  border: 0;
}
#group-select {
  display: flex;
  flex-wrap: wrap;
}
.order-calculation {
  width: 260px;
  height: 3.5rem;
  margin: 0 0 2rem 0;
  border: none;
  background-image: url(../../img/icons/icon-arrow-select.png);
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: auto 25%;
  color: var(--color-white);
  outline: none;
  appearance: none;
}
@-moz-document url-prefix() {
  select {
    color: var(--color-black-fort);
  }
}
.color-select {
  background-color: var(--color-medium-gray);
}
.new-color-select {
  background-color: var(--color-medium-blue);
}
#filter-atributtes:disabled {
  background-color: var(--color-disabled);
  border: var(--color-disabled) solid 1px;
  cursor: not-allowed;
  box-shadow: var(--shadown-drop-fort);
}
#quantify-text {
  box-shadow: var(--shadown-drop-cards);
  background-color: var(--color-light-blue);
  color: var(--color-dark-dark-blue);
  border-radius: 0.5rem;
  padding: 10px 20px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
  cursor: auto;
  width: auto;
}
#quantify-text::after {
  content: "|";
  opacity: 1;
  margin-left: 0.5rem;
  display: inline-block;
  animation: blink 0.7s infinite;
}
#error-form {
  font-weight: 600;
  padding: 2rem 0;
  font-size: 2rem;
  text-align: center;
  line-height: 1.8;
}
#results-header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  background-color: var(--color-white);
}
#results-cards {
  position: relative;
}

@media screen and (min-width: 700px) {
  .order-calculation {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  #form-filters,
  #results-header {
    padding: 0 3rem;
  }
  .filter-title {
    font-size: 2.5rem;
    margin: 3rem 0;
  }
  #name-pokemon,
  .order-calculation,
  #quantify-text {
    font-size: 1.8rem;
    padding: 0 2rem;
    border-radius: 0.8rem;
  }
  #name-pokemon {
    width: 275px;
    padding: 0.88rem 1rem;
  }
  #name-pokemon::placeholder {
    font-size: 1.8rem;
  }
  .order-calculation {
    width: 275px;
    height: 4rem;
  }
  #calculation-selector {
    width: 295px;
    margin-right: 0px;
  }
  #quantify-text {
    min-width: 455px;
    padding: 1.2rem;
  }
}
