#result-cards {
  margin: 0 auto;
  max-width: 1060px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--color-beige);
}
#not-pokemon {
  font-weight: 600;
  padding: 20px 0px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
}
.card {
  position: relative;
  padding: 20px;
}
.card-box {
  position: absolute;
  bottom: 94px;
  left: 37px;
  height: 237px;
  width: 181px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  font-family: var(--font-pattern);
  overflow-y: scroll;
}
.pokedex-open {
  position: relative;
  box-shadow: var(--shadown-drop-fort-fort);
}
.box-poke-img {
  display: flex;
  place-content: center;
  height: 94px;
}
.poke-img {
  width: 90px;
  height: 90px;
}
.box-poke-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22px 42px minmax(70px, 1fr);
  align-items: start;
  row-gap: 4px;
}
.poke-items {
  grid-column: 1/3;
}
.poke-items li {
  display: inline-block;
  padding: 1.5px 7px;
  margin: 2px;
  margin-left: 0px;
  border-radius: 10px;
  font-size: 1rem;
}
.poke-item-title {
  font-weight: var(--font-bold);
}
.poke-title {
  font-weight: var(--font-bold);
  font-size: 1.19rem;
}
.poke-number {
  font-size: 0.875rem;
  font-weight: var(--font-bold);
  position: absolute;
  bottom: 358px;
  left: 168px;
  background-color: var(--color-green-screen);
  width: 55px;
  text-align: center;
  padding: 3px;
  border: var(--border-red);
  border-radius: 4px;
}
.card-box::-webkit-scrollbar {
  width: 10px;
}
.card-box::-webkit-scrollbar-track {
  background: var(--color-beige);
}
.card-box::-webkit-scrollbar-thumb {
  background-color: var(--color-medium-beige);
  border-radius: 5px;
  border: var(--border-beige);
}
.card-box {
  scrollbar-width: thin;
  scrollbar-color: var(--colormedium-beige) var(--color-beige);
}
