#result-cards {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--color-beige);
}
#not-pokemon {
  font-weight: 600;
  padding: 20px 0px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
}
.card {
  position: relative;
  padding: 15px;
}
.poke-number {
  font-size: 0.875rem;
  font-weight: 600;
  position: absolute;
  bottom: 330px;
  left: 151px;
  background-color: var(--color-green-screen);
  width: 55px;
  text-align: center;
  padding: 3px;
  border: var(--border-red);
  border-radius: 4px;
}
.card-box {
  position: absolute;
  bottom: 89px;
  left: 31px;
  height: 219px;
  width: 170px;
  padding: 5px;
  display: grid;
  grid-template-areas:
    "img-pokemon"
    "title-pokemon"
    "type"
    "weakeness";
  font-weight: var(--font-bold);
  overflow-y: scroll;
}
.pokedex-open {
  position: relative;
  box-shadow: var(--shadown-drop-fort-fort);
  width: 235px;
}
.box-poke-img {
  grid-area: img-pokemon;
  display: flex;
  place-content: center;
  height: 92px;
}
.poke-img {
  width: 90px;
  height: 90px;
}
.poke-title {
  grid-area: title-pokemon;
  font-size: 1.19rem;
  margin-bottom: 7px;
}
.poke-items {
  padding: 0;
  margin: 0;
}
.poke-items li {
  display: inline-block;
  padding: 1.5px 7px;
  margin: 2px;
  margin-left: 0px;
  border-radius: 10px;
  font-size: 1rem;
}
.type {
  grid-area: type;
}
.weakness {
  grid-area: weakeness;
}

.card-box::-webkit-scrollbar {
  width: 10px;
}
.card-box::-webkit-scrollbar-track {
  background: var(--color-beige);
}
.card-box::-webkit-scrollbar-thumb {
  background-color: var(--color-medium-beige);
  border-radius: 5px;
  border: var(--border-scroll);
}
.card-box {
  scrollbar-width: thin;
  scrollbar-color: var(--color-medium-beige) var(--color-beige);
}
