@charset "utf-8";
@import url(variables.css);
@import url(./container/header.css);
@import url(./container/button.css);

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Helvetica, Arial, Verdana;
  font-size: 10px;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
}
#container-general {
  background: #3bd1e5;
}
#container-pokemon {
  min-width: 300px;
  max-width: 1800px;
  margin: 0 auto;
  background-color: #ffffff;
}

:root {
  --space-simple: 2rem;
  --space-double: 4rem;

  --color-black: #022f35;
  --color-white: #ffffff;
  --color-dark-gray: #4e6064;
  --color-medium-gray: #8da7ac;
  --color-dark-dark-blue: #0a4659;
  --color-dark-blue: #06616d;
  --color-medium-blue: #329caa;
  --color-light-blue: #3bd1e5;
  --color-dark-green: #898220;
  --color-medium-green: #9ebf3f;
  --color-light-green: #b8cd7d;
  --color-yellow: #f2960c;
  --color-card: #f2f2f2;
  --color-disabled: #cdb7b5;
  --gradient-background: linear-gradient(
    180deg,
    rgba(192, 248, 255, 1) 0%,
    rgba(255, 255, 255, 1) 83%
  );

  --transparency-light: rgba(0, 0, 0, 0.5);
  --transparency-light-gray: rgba(191, 208, 211, 0.7);
  --shadown-drop-fort: 6px 6px 6px #737373;
  --shadown-drop-medium: 6px 4px 4px #737373;
  --shadown-article: 5px 10px 10px 0px rgba(0, 0, 0, 0.45);
  --shadown-drop-cards: 6px 4px 4px #8da7ac;

  --border-input: 1px solid var(--color-light-blue);

  /*Colors Pokémons*/
  --bug: rgb(158, 191, 63);
  --dark: rgb(93, 96, 109);
  --dragon: rgb(21, 116, 196);
  --electric: rgb(238, 212, 79);
  --fairy: rgb(237, 153, 229);
  --fighting: rgb(215, 68, 86);
  --fire: rgb(224, 164, 86);
  --flying: rgb(156, 180, 230);
  --ghost: rgb(107, 114, 196);
  --grass: rgb(98, 190, 101);
  --ground: rgb(214, 133, 91);
  --ice: rgb(129, 212, 201);
  --normal: rgb(154, 158, 163);
  --poison: rgb(180, 103, 202);
  --psychic: rgb(247, 124, 124);
  --rock: rgb(205, 192, 144);
  --steel: rgb(89, 150, 163);
  --water: rgb(88, 159, 222);
}

.bug {
  background-color: var(--bug);
}
.dark {
  background-color: var(--dark);
}
.dragon {
  background-color: var(--dragon);
}
.electric {
  background-color: var(--electric);
}
.fairy {
  background-color: var(--fairy);
}
.fighting {
  background-color: var(--fighting);
}
.fire {
  background-color: var(--fire);
}
.flying {
  background-color: var(--flying);
}
.ghost {
  background-color: var(--ghost);
}
.grass {
  background-color: var(--grass);
}
.ground {
  background-color: var(--ground);
}
.ice {
  background-color: var(--ice);
}
.normal {
  background-color: var(--normal);
}
.poison {
  background-color: var(--poison);
}
.psychic {
  background-color: var(--psychic);
}
.rock {
  background-color: var(--rock);
}
.steel {
  background-color: var(--steel);
}
.water {
  background-color: var(--water);
}
