#container-general {
  background-repeat: no-repeat;
  font-family: var(--font-pattern);
  color: var(--color-black);
  display: grid;
  grid-template-columns: 1fr;
}
#container-pokemon {
  min-width: 300px;
  max-width: 1800px;
  justify-self: center;
}
#header-filters {
  background-color: var(--color-dark-dark-blue);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 0px) and (max-width: 549px) {
  #container-pokemon {
    min-width: 300px;
  }
  .logo-onpokemon {
    height: 27px;
  }
  .menu-onpokemon {
    height: 30px;
  }
  .logo-onpokemon,
  .menu-onpokemon {
    padding: var(--space-simple);
  }
}

@media screen and (min-width: 550px) and (max-width: 999px) {
  #container-pokemon {
    min-width: 550px;
  }
  .logo-onpokemon {
    height: 34px;
  }
  .menu-onpokemon {
    height: 35px;
  }
  .logo-onpokemon,
  .menu-onpokemon {
    padding: var(--space-double);
  }
}

@media screen and (min-width: 1000px) {
  #container-pokemon {
    min-width: 1000px;
  }
  .logo-onpokemon {
    height: 40px;
  }
  .menu-onpokemon {
    height: 35px;
  }
  .logo-onpokemon,
  .menu-onpokemon {
    padding: var(--space-triple);
  }
}
