.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container.active-modal {
  display: flex;
}

.modal {
  background: var(--color-dark-dark-blue);
  width: 300px;
  height: 280px;
  position: relative;
  border-radius: 6px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  box-shadow: var(--shadown-modal);
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.active-modal .modal {
  animation: modal 0.3s forwards;
}

.close-modal {
  width: 30px;
  height: 30px;
  background: var(--color-medium-gray);
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 24px;
  right: -5px;
  box-shadow: var(--shadown-modal);
  cursor: pointer;
}
