@media screen and (min-height: 300px) and (max-height: 499px) and (orientation: landscape) {
  .logo-onpokemon {
    width: 230px;
    padding: 10px 0px;
  }
  #pokedex-close {
    height: 100px;
  }
  #introduction,
  .text-contact {
    font-size: 1rem;
  }
  #info-title,
  .name-contact {
    font-size: 0.875rem;
  }
  #introduction,
  #info-title {
    padding: 10px;
  }
  .modal {
    width: 400px;
    height: 220px;
  }
  .icone {
    height: 30px;
    width: 30px;
    padding-right: 10px;
  }
}
@media screen and (min-height: 500px) and (max-height: 699px) and (orientation: landscape) {
  .logo-onpokemon {
    width: 406px;
    padding: 20px 0px;
  }
  #pokedex-close {
    width: 140px;
  }
  #introduction {
    font-size: 1.4rem;
  }
  #info-title {
    font-size: 1.2rem;
  }
  #introduction,
  #info-title {
    padding: 20px;
  }
  .modal {
    width: 400px;
    height: 280px;
  }
  .text-contact,
  .name-contact {
    font-size: 1.1rem;
  }
  .icone {
    height: 40px;
    width: 40px;
    padding-right: 10px;
  }
}
@media screen and (min-height: 700px) and (orientation: landscape) {
  .logo-onpokemon {
    width: 406px;
    padding: 25px 0px;
  }
  #pokedex-close {
    width: 187px;
  }
  #introduction {
    font-size: 1.4rem;
  }
  #info-title,
  .text-contact,
  .name-contact {
    font-size: 1.2rem;
  }
  #introduction,
  #info-title {
    padding: 20px;
  }
  .modal {
    width: 450px;
    height: 300px;
  }
  .close-modal {
    width: 60px;
    height: 60px;
  }
  #contacts {
    padding-top: 40px;
  }
  .container-contact {
    padding-bottom: 20px;
  }
  .icone {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
}
@media screen and (min-height: 300px) and (max-height: 899px) and (orientation: portrait) {
  .logo-onpokemon {
    width: 270px;
    padding: 10px 0px;
  }
  #pokedex-close {
    width: 140px;
  }
  #introduction {
    font-size: 1.1rem;
  }
  #info-title,
  .name-contact {
    font-size: 0.875rem;
  }
  #introduction,
  #info-title {
    padding: 15px;
  }
  .modal {
    width: 240px;
    height: 320px;
  }
  .text-contact {
    font-size: 1rem;
  }
  .icone {
    height: 30px;
    width: 30px;
    padding-right: 10px;
  }
}
@media screen and (min-height: 900px) and (orientation: portrait) {
  .logo-onpokemon {
    width: 406px;
    padding: 25px 0px;
  }
  #pokedex-close {
    width: 200px;
  }
  #introduction {
    font-size: 1.6rem;
    padding: 20px;
  }
  #info-title {
    font-size: 1.2rem;
    padding: 25px;
  }
  .modal {
    width: 450px;
    height: 300px;
  }
  .close-modal {
    width: 60px;
    height: 60px;
  }
  .text-contact,
  .name-contact {
    font-size: 1.2rem;
  }
  #contacts {
    padding-top: 40px;
  }
  .container-contact {
    padding-bottom: 20px;
  }
  .icone {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
}
