@charset "utf-8";
@import url("container.css");
@import url("./container/carousel.css");

#contacts {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(59, 209, 229, 1) 0%,
    rgba(6, 97, 109, 1) 73%,
    rgba(10, 70, 89, 1) 100%
  );
  position: relative;
}
.about-us {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 90%;
  padding: 20px 10px;
  margin: 30px auto;
}
.container-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-items: start;
  justify-content: space-between;
  align-content: space-around;
  gap: 25px;
}
.about-contact {
  width: 250px;
  display: grid;
  grid-template-areas: "name" "git";
  align-items: center;
  gap: 6px;
}
.title-about {
  color: #3bd1e5;
  margin: 8% 0;
  font-size: 3rem;
  text-align: center;
}
.name {
  color: rgb(221, 208, 208);
  font-size: 1.5rem;
  text-shadow: black 2px 3px 2px;
  font-style: normal;
  grid-area: name;
}
.git {
  display: flex;
  text-decoration: none;
  color: white;
  grid-area: git;
}
.git:hover {
  color: #7cb8c0;
}
.icon-git {
  width: 3rem;
  height: 3rem;
}
.link-git {
  color: #3bd1e5;
  margin-left: 10px;
  font-size: 1.6rem;
  font-style: normal;
}

@media screen and (max-width: 600px) {
  .container-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 600px) {
  .name {
    font-size: 2rem;
  }
  .about-contact {
    gap: 12px;
  }
  .container-contacts {
    row-gap: 35px;
  }
  .about-us {
    padding: 0 30px 5% 30px;
  }
}
