@media screen and (min-height: 500px) and (max-height: 699px) and (orientation: landscape),
  screen and (min-height: 700px) and (orientation: landscape),
  screen and (min-height: 900px) and (orientation: portrait) {
  #container-general {
    margin: auto auto;
  }
  .logo-onpokemon {
    height: 41px;
    margin: 30px 0px;
  }
  .filter-title {
    font-size: 1.6rem;
  }
  #name-text {
    font-size: 1.3rem;
    padding-bottom: 12px;
  }
  #name-pokemon {
    font-size: 1.2rem;
    padding: 10px;
  }
  #name-pokemon::placeholder {
    font-size: 1.1rem;
  }
  .order-calculation {
    font-size: 1.2rem;
    padding: 10px;
    height: 44px;
  }
  #quantify-text {
    font-size: 1.3rem;
  }
  #quantify-text {
    font-size: 1.2rem;
    min-width: 455px;
    padding: 10px;
  }
}

@media screen and (min-height: 500px) and (max-height: 699px) and (orientation: landscape) {
  #name-pokemon {
    width: 310px;
  }
  .order-calculation {
    width: 330px;
  }
  #quantify-text {
    min-width: 310px;
  }
  #back-button {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    bottom: 20px;
    right: 20px;
  }
  #group-pokemon {
    right: 30px;
    bottom: 95px;
  }
  .pokemon-1 {
    animation: tilt-one infinite 2s;
  }

  @keyframes tilt-one {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(8px);
    }
  }

  .pokemon-2 {
    animation: tilt-two infinite 1.5s;
  }

  @keyframes tilt-two {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(8px);
    }
  }
}

@media screen and (min-height: 700px) and (orientation: landscape) {
  .order-calculation {
    width: 230px;
  }
  #name-pokemon {
    width: 210px;
  }
  #calculation-selector {
    width: 320px;
    margin-right: 0px;
  }
  #quantify-text {
    min-width: 455px;
  }
  #back-button {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    bottom: 20px;
    right: 10%;
  }
  #group-pokemon {
    right: 30px;
    bottom: 95px;
  }
  .pokemon-1 {
    margin: 0px 6px;
    animation: tilt-one infinite 2s;
  }

  @keyframes tilt-one {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(8px);
    }
  }

  .pokemon-2 {
    margin: 0px 6px;
    animation: tilt-two infinite 1.5s;
  }

  @keyframes tilt-two {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(8px);
    }
  }
}

@media screen and (min-height: 900px) and (orientation: portrait) {
  #container-general {
    min-width: 600px;
  }
  #name-pokemon {
    width: 310px;
  }
  .order-calculation {
    width: 330px;
  }
  #quantify-text {
    min-width: 310px;
  }
  #back-button {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (min-height: 300px) and (max-height: 899px) and (orientation: portrait),
  screen and (min-height: 300px) and (max-height: 499px) and (orientation: landscape) {
  .logo-onpokemon {
    height: 27px;
    padding: 10px 0px;
  }
  .filter-title {
    font-size: 1.4rem;
  }
  #name-text {
    font-size: 1rem;
    padding-bottom: 5px;
  }
  #name-pokemon {
    width: 260px;
    font-size: 1rem;
    padding: 10px;
  }
  #name-pokemon::placeholder {
    font-size: 1rem;
  }
  #quantify-text {
    font-size: 1.1rem;
    min-width: 260px;
    padding: 10px;
  }
  #back-button {
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    bottom: 15px;
    right: 10px;
  }
  .btn-action {
    box-shadow: var(--shadown-solid-brown-dark-little);
  }
  .btn-action:active {
    box-shadow: var(--shadown-solid-brown-light-little);
  }
}

@media screen and (min-height: 300px) and (max-height: 499px) and (orientation: landscape) {
  #container-general {
    min-width: 600px;
  }
  .order-calculation {
    width: 270px;
    height: 40px;
    font-size: 1rem;
    padding: 10px;
  }
}

@media screen and (min-height: 300px) and (max-height: 899px) and (orientation: portrait) {
  #container-general {
    min-width: 300px;
  }
  .order-calculation {
    width: 280px;
    height: 40px;
    font-size: 1rem;
    padding: 10px;
  }
  #img-pokemons {
    visibility: hidden;
  }
}

@media screen and (min-width: 525px) and (max-width: 614px) and (orientation: portrait),
  screen and (min-width: 525px) and (max-width: 614px) and (orientation: landscape) {
  #img-pokemons {
    visibility: visible;
    height: 80px;
    top: 125px;
    right: 20px;
  }
}

@media screen and (min-width: 615px) and (max-width: 819px) and (orientation: portrait),
  screen and (min-width: 615px) and (max-width: 819px) and (orientation: landscape) {
  #img-pokemons {
    visibility: visible;
    height: 110px;
    top: 95px;
    right: 20px;
  }
}

@media screen and (min-width: 820px) and (orientation: portrait),
  screen and (min-width: 820px) and (orientation: landscape) {
  #img-pokemons {
    visibility: visible;
    position: relative;
    height: 150px;
    top: 130px;
    right: 12%;
  }
}
