@media screen and (min-width: 300px) and (max-width: 599px) {
  #container-general {
    min-width: 300px;
  }
  #container-pokemon {
    max-width: 1100px;
  }
  .logo-onpokemon {
    height: 27px;
    padding: 10px 0px;
  }
  #main-filters,
  #results-header {
    padding: 0px 20px;
  }
  .filter-title {
    font-size: 1.4rem;
    margin: var(--space-title-simple-margin);
  }
  #name-text {
    font-size: 1rem;
    padding-bottom: 5px;
  }
  #name-pokemon {
    width: 240px;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
  }
  #name-pokemon::placeholder {
    font-size: 1rem;
  }
  .order-calculation {
    width: 260px;
    height: 40px;
    font-size: 1rem;
    padding: 10px;
    margin: var(--space-input-simple);
    border-radius: 10px;
  }
  #quantify-text {
    font-size: 1.1rem;
    min-width: 240px;
    padding: 10px;
    border-radius: 10px;
  }
  #back-button {
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    bottom: 15px;
    right: 10px;
  }
  .btn-action {
    box-shadow: var(--shadown-solid-brown-dark-little);
  }
  .btn-action:active {
    box-shadow: var(--shadown-solid-brown-light-little);
  }
  #form-filters {
    grid-template-columns: 1fr 1fr;
  }
  #group-pokemon {
    margin: 0 auto;
    grid-column: 2;
    grid-row: 1/4;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .line {
    width: 272px;
    grid-column: 1/2;
    margin: var(--space-line-simple);
    height: 6px;
  }
  #group-select {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
  #container-pokemon {
    min-width: 600px;
  }
  .logo-onpokemon {
    height: 41px;
    margin: 30px 0px;
  }
  #main-filters,
  #results-header {
    padding: 0px 20px;
  }
  .filter-title {
    margin: var(--space-title-simple-margin);
    font-size: 1.6rem;
  }
  #name-text {
    font-size: 1.1rem;
    padding-bottom: 12px;
  }
  #name-pokemon {
    font-size: 1.1rem;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
  }
  #name-pokemon::placeholder {
    font-size: 1rem;
  }
  .order-calculation {
    font-size: 1.1rem;
    padding: 10px;
    height: 44px;
    width: 320px;
    margin: var(--space-input-simple);
    border-radius: 10px;
  }
  #quantify-text {
    font-size: 1.3rem;
    min-width: 455px;
    padding: 10px;
    border-radius: 10px;
  }
  #back-button {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    bottom: 20px;
    right: 20px;
  }
  .btn-action {
    box-shadow: var(--shadown-solid-brown-dark-little);
  }
  .btn-action:active {
    box-shadow: var(--shadown-solid-brown-light-little);
  }
  #form-filters {
    grid-template-columns: 1fr 1fr;
  }
  #group-pokemon {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    grid-row: 1/4;
    grid-column: 2;
  }
  .line {
    margin: var(--space-line-simple);
    height: 6px;
    grid-column: 1/2;
  }
  #group-select {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 700px) and (max-width: 1099px) {
  #container-general {
    margin: auto auto;
  }
  #container-pokemon {
    min-width: 700px;
  }
  #main-filters,
  #results-header {
    padding: 0px 20px;
  }
  .logo-onpokemon {
    height: 41px;
    margin: 30px 0px;
  }
  .filter-title {
    margin: var(--space-title-simple-margin);
    font-size: 1.6rem;
    display: inline-block;
    width: 240px;
  }
  #name-text {
    font-size: 1.1rem;
    padding-bottom: 12px;
    display: inline-block;
    width: 240px;
  }
  #name-pokemon {
    font-size: 1.1rem;
    padding: 10px;
    width: 190px;
    border-radius: 10px;
  }
  #name-pokemon::placeholder {
    font-size: 1rem;
  }
  .order-calculation {
    font-size: 1.1rem;
    padding: 10px;
    height: 44px;
    width: 210px;
    margin: var(--space-input-simple);
    border-radius: 10px;
  }
  #calculation-selector {
    width: 300px;
    margin-right: 0px;
  }
  #quantify-text {
    font-size: 1.3rem;
    min-width: 280px;
    padding: 10px;
    border-radius: 10px;
  }
  #back-button {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    bottom: 20px;
    right: 20px;
  }
  #group-pokemon {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
  .line {
    height: 6px;
    margin: var(--space-line-simple);
  }
  #form-filters {
    grid-template-columns: 1fr 1fr;
  }
  .line,
  #group-select {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1399px) {
  #container-general {
    margin: auto auto;
  }
  #container-pokemon {
    max-width: 1380px;
  }
  .logo-onpokemon {
    height: 60px;
    margin: 40px 0px;
  }
  #main-filters,
  #results-header {
    padding: 0px 40px;
  }
  .filter-title {
    font-size: 2rem;
    margin: var(--space-title-double-margin);
  }
  #name-text {
    font-size: 1.7rem;
    padding-bottom: 12px;
  }
  #name-pokemon {
    font-size: 1.5rem;
    padding: 10px;
    width: 350px;
    border-radius: 15px;
  }
  #name-pokemon::placeholder {
    font-size: 1.4rem;
  }
  .order-calculation {
    font-size: 1.4rem;
    padding: 10px;
    height: 50px;
    width: 320px;
    margin: var(--space-input-double);
    border-radius: 15px;
  }
  #calculation-selector {
    width: 370px;
    margin-right: 0px;
  }
  #quantify-text {
    font-size: 1.7rem;
    min-width: 350px;
    padding: 10px;
    border-radius: 15px;
  }
  #back-button {
    width: 50px;
    height: 50px;
    font-size: 1.8rem;
    bottom: 20px;
    right: 20px;
  }
  #group-pokemon {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
  .line {
    grid-column: 1/3;
    margin: var(--space-line-double);
    height: 8px;
  }
  #group-select {
    grid-column: 1/3;
  }
  #form-filters {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1400px) {
  #container-general {
    margin: auto auto;
  }
  #container-pokemon {
    min-width: 1400px;
    max-width: 2000px;
  }
  #main-filters,
  #results-header {
    padding: 0px 60px;
  }
  .logo-onpokemon {
    height: 70px;
    margin: 60px 0px;
  }
  .filter-title {
    font-size: 2.3rem;
    margin: var(--space-title-triple-margin);
  }
  #name-text {
    font-size: 2rem;
    padding-bottom: 20px;
  }
  #name-pokemon {
    font-size: 1.7rem;
    padding: 10px 20px;
    width: 420px;
    border-radius: 20px;
    height: 50px;
  }
  #name-pokemon::placeholder {
    font-size: 1.9rem;
  }
  .order-calculation {
    font-size: 1.7rem;
    padding: 20px;
    height: 70px;
    width: 463px;
    margin: var(--space-input-double);
    border-radius: 20px;
  }
  #quantify-text {
    font-size: 1.7rem;
    min-width: 440px;
    padding: 10px;
    height: 50px;
    border-radius: 20px;
  }
  #back-button {
    width: 60px;
    height: 60px;
    font-size: 1.8rem;
    bottom: 30px;
    right: 30px;
  }
  #group-pokemon {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
  .line {
    grid-column: 1/3;
    margin: var(--space-line-double);
    height: 8px;
  }
  #group-select {
    grid-column: 1/3;
  }
  #form-filters {
    grid-template-columns: 1fr 1fr;
  }
}
