@charset "utf-8";
@import url(reset.css);
@import url("variables.css");
@import url("screen-page-filters.css");
@import url("header.css");
@import url("button.css");
@import url("cards.css");
@import url("colors-pokemon.css");
@import url("screen-group-pokemon.css");
@import url("page-modal.css");
@import url("menu.css");

* {
  margin: 0;
  padding: 0;
}
#form-filters {
  display: grid;
  background: var(--gradient-background);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}
.filter-title {
  display: block;
  font-weight: bold;
  text-align: left;
}
#name-pokemon,
.order-calculation,
#quantify-text {
  box-shadow: var(--shadown-drop-medium);
  font-weight: var(--font-bold);
  cursor: pointer;
}
#name-pokemon {
  border: var(--border-input);
  background-color: var(--color-light-blue);
  background-image: url(../img/icon-search.png);
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 20px;
}
#name-pokemon::placeholder {
  color: var(--color-dark-blue);
  font-weight: var(--font-bold);
}
#name-pokemon:focus {
  border: 0;
}
#group-select {
  display: flex;
  flex-wrap: wrap;
}
.order-calculation {
  border: none;
  background-image: url(../img/icon-arrow-select.png);
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: auto 25%;
  color: var(--color-white);
  outline: none;
  appearance: none;
}
@-moz-document url-prefix() {
  select {
    color: var(--color-black-fort);
    text-shadow: var(--fort-shadow);
  }
}
.color-select {
  background-color: var(--color-medium-gray);
}
.new-color-select {
  background-color: var(--color-medium-blue);
}
#filter-atributtes:disabled {
  background-color: var(--color-disabled);
  border: var(--color-disabled) solid 1px;
  cursor: not-allowed;
  box-shadow: var(--shadown-drop-fort);
}
#quantify-text {
  box-shadow: var(--shadown-drop-medium-cards);
  background-color: var(--color-light-blue);
  color: var(--color-dark-dark-blue);
  margin-bottom: 40px;
  line-height: 1.2;
  cursor: auto;
}
#quantify-text::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#error-form {
  font-weight: 600;
  padding: 20px 0px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
}
#results-header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  background-color: var(--color-white);
}
#results-cards {
  position: relative;
}
#group-pokemon {
  display: flex;
  column-gap: 8px;
  row-gap: 10px;
  justify-content: center;
}
.pokemon-one {
  animation: tilt infinite 2s;
}
.pokemon-two {
  animation: tilt infinite 1.5s;
}
@keyframes tilt {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
}
.line {
  border: none;
}

