@import url("container.css");

.container-article {
  line-height: 1.5;
}
.section-text {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto 8% 3%;
  padding: 5%;
}
.main-title,
.sub-title {
  text-align: center;
}
.main-title {
  margin-top: var(--space-simple);
  font-size: 2.5rem;
}
.sub-title,
.img-articles {
  margin-bottom: var(--space-simple);
}
.sub-title {
  font-size: 1.5rem;
}
.article h3 {
  font-size: 1.2rem;
  margin: var(--space-simple) 0;
}
.first {
  order: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto 10% 12%;
  padding: 5%;
  border-radius: 7px;
  box-shadow: var(--shadown-article);
  display: flex;
}
.img-articles {
  max-width: 100%;
  align-items: center;
}
figcaption {
  font-size: small;
  align-self: flex-end;
}
.paragraph-article {
  text-align: justify;
  font-size: 1rem;
}

@media screen and (min-width: 550px) {
  .article {
    margin: auto 10% 6%;
  }
}

@media screen and (min-width: 1024px) {
  .main-title {
    font-size: 3.5rem;
    margin-top: var(--space-double);
  }
  .sub-title,
  .img-articles {
    margin-bottom: var(--space-double);
  }
  .sub-title {
    font-size: 2.8rem;
  }
  .article h3 {
    font-size: 2.2rem;
    margin: var(--space-double);
  }
  .paragraph-article {
    font-size: 2rem;
  }
}
