@charset "utf-8";
@import url("container.css");
@import url("carrossel.css");
@import url("about.css");

.background {
  background-image: url(../img/pokemon-back.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.title-about,
.about-name {
  color: #3bd1e5;
  margin-left: 2%;
  text-shadow: rgb(87, 84, 84) 2px 3px 2px;
}
.title-about {
  margin: 3% 0;
  font-size: 3rem;
  text-align: center;
}
.about-name {
  font-size: 1.5rem;
}
.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: calc(100% - 6%);
  margin: 0 auto;
}
.about-us {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 5%;
  width: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
}
.icon-git {
  width: 12%;
  height: 12%;
  margin-right: 2%;
}
.git {
  display: flex;
  text-decoration: none;
  color: white;
  margin-left: 3%;
}
.git:hover {
  color: #7cb8c0;
}
h1 {
  color: rgb(221, 208, 208);
  margin-left: 52px;
  font-size: 20px;
  text-shadow: black 2px 3px 2px;
}
.name {
  color: rgb(221, 208, 208);
  margin-left: 2%;
  margin-bottom: 3%;
  font-size: 2rem;
  text-shadow: black 2px 3px 2px;
}
.about-contact {
  margin: 5% 3%;
}
.container-contacts {
  display: grid;
  grid-template-areas: "cont1 cont2" "cont3 cont4" "cont5 cont6";
}
.cont1 {
  grid-area: cont1;
}
.cont2 {
  grid-area: cont2;
}
.cont3 {
  grid-area: cont3;
}
.cont4 {
  grid-area: cont4;
}
.cont5 {
  grid-area: cont5;
}
.cont6 {
  grid-area: cont6;
}

@media screen and (max-width: 600px) {
  .container-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
