@media screen and (min-height: 300px) and (max-height: 899px) and (orientation: portrait) {
  .container-general {
    min-width: 320px;
  }
  .logo-onpokemon {
    width: 224px;
    height: 27px;
    padding: 10px 0px;
  }
  .filter-title {
    font-size: 1.5rem;
    margin: 30px 0px 20px 0px;
  }
  #name-text {
    font-size: 1.1rem;
  }
  #name-pokemon {
    font-size: 1.1rem;
    padding: 10px;
  }
  #name-pokemon::placeholder {
    font-size: 1rem;
  }
  #quantify-text {
    font-size: 1.2rem;
  }
  .order-calculation {
    font-size: 1rem;
    padding: 10px;
  }
}
