@charset "utf-8";
@import url(reset.css);
@import url("variables.css");
@import url("colors-pokemon.css");
@import url("modal.css");
@import url("cards.css");

[data-modal="container"] {
  font-family: var(--font-pattern);
}

.group-header,
.group-modal {
  display: flex;
  justify-content: flex-start;
  width: 280px;
}
.header-number,
.header-name {
  background-color: var(--color-yellow);
  margin-right: 10px;
  border-radius: 2px;
  height: 15px;
  display: flex;
  align-items: center;
}
.header-name {
  padding: 1px 4px;
  width: 180px;
}
.header-number {
  padding: 1px 20px;
}
.modal-poke-number,
.modal-poke-name {
  color: var(--color-white);
  font-size: 0.75rem;
}
.group-modal {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 240px;
  background-color: var(--color-white);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr;
}

.group-modal::-webkit-scrollbar {
  width: 5px;
}
.group-modal::-webkit-scrollbar-track {
  background: var(--transparency-light-gray);
  border-radius: 2px;
}
.group-modal::-webkit-scrollbar-thumb {
  background-color: var(--color-medium-blue);
  border-radius: 10px;
}
.group-modal {
  scrollbar-width: thin;
  scrollbar-color: var(--color-medium-blue) var(--transparency-light-gray);
}
