@charset "utf-8";

@import url("cards.css");
@import url("colors-pokemon.css");
@import url("modal.css");
@import url("screen-group-pokemon.css");
@import url("screen-page-filters.css");

#form-filters {
  display: grid;
  background: var(--gradient-background);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}
.filter-title {
  display: block;
  font-weight: bold;
  text-align: left;
}
#name-pokemon,
.order-calculation,
#quantify-text {
  box-shadow: var(--shadown-drop-medium);
  font-weight: var(--font-bold);
  cursor: pointer;
}
#name-pokemon {
  border: var(--border-input);
  background-color: var(--color-light-blue);
  background-image: url(../img/icon-search.png);
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 20px;
}
#name-pokemon::placeholder {
  color: var(--color-dark-blue);
  font-weight: var(--font-bold);
}
#name-pokemon:focus {
  border: 0;
}
#group-select {
  display: flex;
  flex-wrap: wrap;
}
.order-calculation {
  border: none;
  background-image: url(../img/icon-arrow-select.png);
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: auto 25%;
  color: var(--color-white);
  outline: none;
  appearance: none;
}
@-moz-document url-prefix() {
  select {
    color: var(--color-black-fort);
    text-shadow: var(--fort-shadow);
  }
}
.color-select {
  background-color: var(--color-medium-gray);
}
.new-color-select {
  background-color: var(--color-medium-blue);
}
#filter-atributtes:disabled {
  background-color: var(--color-disabled);
  border: var(--color-disabled) solid 1px;
  cursor: not-allowed;
  box-shadow: var(--shadown-drop-fort);
}
#quantify-text {
  box-shadow: var(--shadown-drop-medium-cards);
  background-color: var(--color-light-blue);
  color: var(--color-dark-dark-blue);
  margin-bottom: 40px;
  line-height: 1.2;
  cursor: auto;
}
#quantify-text::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink 0.7s infinite;
}

/* mobile 300px */
#form-filters,
#results-header {
  padding: var(--space-left-right-simple);
}
.filter-title {
  font-size: 1.375rem;
  margin: var(--space-top-bottom-simple);
}
#name-pokemon,
.order-calculation,
#quantify-text {
  font-size: 1rem;
  padding: var(--space-simple-simple);
  border-radius: var(--border-radius-simple);
}
.order-calculation,
#quantify-text {
  margin: var(--space-input-simple);
}
#quantify-text {
  min-height: 20px;
}
#name-pokemon {
  width: 238px;
}
#name-pokemon::placeholder {
  font-size: 1rem;
}
.order-calculation {
  width: 260px;
  height: 40px;
}
#error-form {
  font-weight: 600;
  padding: 20px 0px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
}
#results-header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  background-color: var(--color-white);
}
#results-cards {
  position: relative;
}
#group-pokemon {
  display: flex;
  column-gap: 8px;
  row-gap: 10px;
  justify-content: center;
}
.pokemon-one {
  animation: tilt infinite 2s;
}
.pokemon-two {
  animation: tilt infinite 1.5s;
}
@keyframes tilt {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
}
.line {
  border: none;
}

/* modal */
#modal-pokemon {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-container .close:hover,
.modal-container .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
