@media screen and (min-width: 300px) and (max-width: 699px) {
  .logo-onpokemon {
    width: 270px;
    padding: 10px 0px;
  }
  #pokedex-close {
    width: 140px;
  }
  #introduction {
    font-size: 1.1rem;
  }
  #info-title,
  .name-contact {
    font-size: 0.875rem;
  }
  #introduction,
  #info-title {
    padding: 15px;
  }
  .modal {
    width: 240px;
    height: 320px;
  }
  .text-contact {
    font-size: 1rem;
    line-height: 1.3;
  }
  .icone {
    height: 30px;
    width: 30px;
    padding-right: 10px;
  }
  .close-modal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: -20px;
    right: -20px;
    font-size: 1.5rem;
  }

  
}
@media screen and (min-width: 600px) and (max-width: 699px) {
  .modal {
    width: 400px;
    height: 220px;
  }
  .icone {
    height: 30px;
    width: 30px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1399px) {
  .logo-onpokemon {
    width: 406px;
    padding: 25px 0px;
  }
  #pokedex-close {
    width: 160px;
  }
  #introduction {
    font-size: 1.6rem;
  }
  #info-title,
  .text-contact,
  .name-contact {
    font-size: 1.2rem;
  }
  #introduction,
  #info-title {
    padding: 25px;
  }
  .modal {
    width: 500px;
    height: 300px;
  }
  .close-modal {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    top: -20px;
    right: -20px;
    font-size: 1.7rem;
  }
  #contacts {
    padding-top: 40px;
  }
  .container-contact {
    padding-bottom: 20px;
  }
  .icone {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
  .text-contact {
    line-height: 1.3;
  }
}

@media screen and (min-width: 1400px) {
  .logo-onpokemon {
    width: 500px;
    padding: 35px 0px;
  }
  #pokedex-close {
    width: 180px;
  }
  #introduction {
    font-size: 1.7rem;
  }
  #info-title,
  .text-contact,
  .name-contact {
    font-size: 1.5rem;
  }
  #introduction,
  #info-title {
    padding: 30px;
  }
  .modal {
    width: 600px;
    height: 400px;
  }
  .close-modal {
    font-size: 1.8rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: -20px;
    right: -20px;
  }
  #contacts {
    padding-top: 40px;
  }
  .container-contact {
    padding-bottom: 30px;
  }
  .icone {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
  .text-contact {
    line-height: 1.5;
  }
}
