@charset "utf-8";
@import url("reset.css");
@import url("variables.css");
@import url("cards.css");
@import url("colors-pokemon.css");
@import url("pokemons-screen.css");

#container-general {
  background-color: var(--color-white);
  font-family: var(--font-pattern);
  color: var(--color-black);
}
#container-pokemon {
  min-width: 300px;
  max-width: 2000px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
}
#header-filters {
  background-color: var(--color-dark-dark-blue);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#form-filters {
  display: grid;
  background: var(--gradient-background);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}
.filter-title {
  display: block;
  font-weight: bold;
  text-align: left;
}
#name-pokemon,
.order-calculation,
#quantify-text,
.btn-action {
  box-shadow: var(--shadown-drop-medium);
  font-weight: var(--font-bold);
  cursor: pointer;
}
#name-pokemon {
  border: var(--border-input);
  background-color: var(--color-light-blue);
  background-image: url(../img/icon-search.png);
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 20px;
}
#name-pokemon::placeholder {
  color: var(--color-dark-blue);
  font-weight: var(--font-bold);
}
#name-pokemon:focus {
  border: 0;
}
#group-select {
  display: flex;
  flex-wrap: wrap;
}
.order-calculation {
  border: none;
  background-image: url(../img/icon-arrow-select.png);
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: auto 25%;
  color: var(--color-white);
  outline: none;
  appearance: none;
}
@-moz-document url-prefix() {
  select {
    color: var(--color-black-fort);
    text-shadow: var(--fort-shadow);
  }
}
.color-select {
  background-color: var(--color-medium-gray);
}
.new-color-select {
  background-color: var(--color-medium-blue);
}
#filter-atributtes:disabled {
  background-color: var(--color-disabled);
  border: var(--color-disabled) solid 1px;
  cursor: not-allowed;
  box-shadow: var(--shadown-drop-fort);
}
#quantify-text {
  box-shadow: var(--shadown-drop-medium-cards);
  background-color: var(--color-light-blue);
  color: var(--color-dark-dark-blue);
  margin-bottom: 40px;
  line-height: 1.2;
  cursor: auto;
}
#quantify-text::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#error-form {
  font-weight: 600;
  padding: 20px 0px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
}
#results-header {
  background-color: var(--color-beige);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}
#results-cards {
  position: relative;
}
.btn-action {
  background-color: var(--color-light-gray);
  border: none;
  border-radius: var(--border-radius-simple);
  place-self: end;
}
#clean-button {
  background-color: var(--color-light-green);
}
#back-button {
  position: fixed;
  z-index: 2000;
}

#group-pokemon {
  display: flex;
  column-gap: 8px;
  row-gap: 10px;
  justify-content: center;
}
.pokemon-one {
  animation: tilt infinite 2s;
}
.pokemon-two {
  animation: tilt infinite 1.5s;
}
@keyframes tilt {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
}

.btn-action:active {
  box-shadow: var(--shadown-solid-brown-light-big);
  transform: translateY(5px);
}

@media screen and (min-width: 0px) and (max-width: 599px) {
  #container-pokemon {
    min-width: 300px;
  }
  .logo-onpokemon {
    height: 27px;
    padding: 15px;
  }
  .menu-onpokemon {
    height: 30px;
    padding-right: 15px;
  }
  #form-filters,
  #results-header {
    padding: 0px 15px;
  }
  .filter-title {
    font-size: 1.375rem;
    margin: var(--space-top-bottom-simple);
  }
  #name-pokemon {
    width: 238px;
    font-size: 1rem;
    padding: 10px;
    border-radius: var(--border-radius-simple);
    margin: var(--space-input-simple);
  }
  #name-pokemon::placeholder {
    font-size: 1rem;
  }
  .order-calculation {
    width: 260px;
    height: 40px;
  }
  .order-calculation,
  #quantify-text {
    font-size: 1rem;
    padding: 10px;
    margin: var(--space-input-simple);
    border-radius: var(--border-radius-simple);
  }
  .btn-action {
    height: 40px;
    width: 40px;
  }
  .btn-action img {
    height: 20px;
  }
  #back-button {
    bottom: 10px;
    right: 10px;
  }
  #form-filters {
    grid-template-columns: 1fr 1fr;
  }
  #group-pokemon {
    margin: 0 auto;
    grid-column: 2;
    grid-row: 1/4;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .line {
    width: 260px;
    grid-column: 1/2;
    margin: var(--space-line-simple);
    height: 4px;
  }
  #group-select {
    grid-column: 1/2;
  }
}
