@charset "utf-8";
@import url("reset.css");
@import url("variables.css");
@import url("page-home-screen.css");

#container-general {
  background-color: var(--color-green-background);
  font-family: var(--font-pattern);
  height: 100vh;
  font-size: 16px;
}
#container-pokemon {
  max-width: 2000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
#header-home {
  width: 100%;
  background-color: var(--color-dark-brown);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1510;
}
#main-home {
  width: 100%;
  background-image: url(../img/pokemon-back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: grid;
  justify-content: center;
  align-items: center;
}
#introduction {
  font-family: var(--font-spaced);
  color: var(--color-dark-brown);
  background-color: var(--color-beige);
  font-weight: var(--font-bold);
  z-index: 1500;
}
#introduction,
.emphasis {
  font-weight: var(--font-bold);
}
#pokedex-close {
  animation: neon 1s alternate infinite;
}
@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 var(--color-blue-neon));
  }
  to {
    filter: drop-shadow(0 0 60px var(--color-blue-neon));
  }
}
#info-contacts {
  width: 100%;
  background-color: var(--color-dark-brown);
  z-index: 1501;
}
#info-title {
  display: block;
  color: var(--color-beige);
  text-align: center;
  font-weight: var(--font-bold);
  cursor: pointer;
  z-index: 1502;
}
.modal-container {
  height: 100vh;
  width: 100%;
  background: var(--transparency);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-container.active {
  display: flex;
}
.container-contact {
  display: flex;
  align-items: center;
  place-items: center;
}
.modal,
.close-modal {
  background: var(--color-beige);
  box-shadow: var(--shadown-drop-modal);
  border: var(--border-modal);
}
.modal {
  padding: 10px;
  position: relative;
  border-radius: 25px;
}
.close-modal {
  position: absolute;
  color: var(--color-dark-brown);
  font-weight: var(--font-bold);
  font-family: var(--font-spaced);
  cursor: pointer;
}
@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.active .modal {
  animation: modal 0.3s forwards;
}
.text-contact {
  text-align: center;
  padding-top: 15px;
}
#contacts,
.name-contact {
  padding: 10px 0px;
}
#contacts {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.name-contact {
  text-align: left;
  line-height: 1;
}
