@charset "utf-8";
@import url("reset.css");
@import url("variables.css");
@import url("cards.css");
@import url("colors-pokemon.css");
@import url("page-filters-screen.css");
@import url("pokemons.css");

#container-general {
  background-color: var(--color-green-background);
  font-family: var(--font-pattern);
  scrollbar-width: thin;
  scrollbar-color: var(--color-medium-beige) var(--color-beige);
}
#container-pokemon {
  background-color: var(--color-beige);
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
}
#header-filters {
  background-color: var(--color-dark-brown);
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
#main-filters {
  background-color: var(--color-beige);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}
.filter-title {
  display: block;
  font-weight: bold;
  text-align: left;
}
#form-filters {
  background-color: var(--color-beige);
  display: grid;
}
#group-name {
  display: flex;
  flex-direction: column;
}
#name-text {
  display: inline-block;
  font-weight: 600;
  color: var(--color-black);
}
#name-pokemon {
  background-color: var(--color-medium-beige);
  border: var(--border-input);
  box-shadow: var(--shadown-inner);
}
#name-pokemon::placeholder {
  color: var(--color-black);
}
#name-pokemon:focus {
  border: 0;
  box-shadow: var(--shadown-drop-fort);
}
#group-pokemon {
  display: flex;
  column-gap: 8px;
  row-gap: 10px;
  justify-content: center;
}
.pokemon-one {
  animation: tilt infinite 2s;
}
.pokemon-two {
  animation: tilt infinite 1.5s;
}
@keyframes tilt {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
}
.line {
  border: none;
  border-radius: 10px;
  background-color: var(--color-medium-brown-line);
}
#group-select {
  display: flex;
  flex-wrap: wrap;
}
.order-calculation {
  background-color: var(--color-medium-beige);
  box-shadow: var(--shadown-drop-medium);
  border: none;
  background-image: url(../img/arrow.png);
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: auto 25%;
  outline: none;
  appearance: none;
  font-weight: var(--font-bold);
  color: var(--color-black);
  cursor: pointer;
}
@-moz-document url-prefix() {
  select {
    color: var(--color-black-fort);
    text-shadow: var(--fort-shadow);
  }
}
#quantify-text {
  background-color: var(--color-green-screen);
  border: var(--border-input-green);
  font-family: var(--font-spaced);
  font-weight: var(--font-bold);
  color: var(--dark-brown);
  box-shadow: var(--shadown-inner-green);
  margin-bottom: 20px;
  line-height: 1.2;
}
#quantify-text::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#error-form {
  font-weight: 600;
  padding: 20px 0px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
}
#results-header {
  background-color: var(--color-beige);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}
#results-cards {
  position: relative;
}
#back-button {
  border-radius: 50%;
  border: none;
  color: var(--color-white);
  text-decoration: none;
  position: fixed;
  background: var(--gradient-radial-brown);
  transition: all 0.3s ease;
  z-index: 2000;
}
.btn-action {
  box-shadow: var(--shadown-solid-brown-dark-big);
  transition: all 0.3s ease 0s;
}
.btn-action:active {
  box-shadow: var(--shadown-solid-brown-light-big);
  transform: translateY(5px);
}
#container-general::-webkit-scrollbar {
  width: 13px;
}
#container-general::-webkit-scrollbar-track {
  background: var(--color-beige);
}
#container-general::-webkit-scrollbar-thumb {
  background-color: var(--color-medium-beige);
  border-radius: 10px;
  border: var(--border-scroll);
}
