#group-pokemon {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: flex-end;
}
#poke-1 {
  height: 92px;
  width: 114px;
}
#poke-2 {
  height: 67px;
  width: 120px;
}
#poke-3 {
  height: 76px;
  width: 68px;
}
#poke-4 {
  height: 120px;
  width: 120px;
}
#poke-5 {
  height: 79px;
  width: 58px;
}
#poke-6 {
  height: 83px;
  width: 69px;
}
