@media screen and (max-width: 549px) {
  #container-pokemon {
    min-width: 300px;
  }
  .logo-onpokemon {
    height: 27px;
  }
  .menu-onpokemon {
    height: 30px;
  }
  .logo-onpokemon,
  .menu-onpokemon {
    padding: var(--space-simple);
  }
  #form-filters,
  #results-header {
    padding: var(--space-left-right-simple);
  }
  .filter-title {
    font-size: 1.375rem;
    margin: var(--space-top-bottom-simple);
  }
  #name-pokemon,
  .order-calculation,
  #quantify-text {
    font-size: 1rem;
    padding: var(--space-simple-simple);
    border-radius: var(--border-radius-simple);
  }
  .order-calculation,
  #quantify-text {
    margin: var(--space-input-simple);
  }
  #quantify-text {
    min-height: 20px;
  }
  #name-pokemon {
    width: 238px;
  }
  #name-pokemon::placeholder {
    font-size: 1rem;
  }
  .order-calculation {
    width: 260px;
    height: 40px;
  }
}

@media screen and (min-width: 550px) and (max-width: 999px) {
  #container-pokemon {
    min-width: 550px;
  }
  .logo-onpokemon {
    height: 34px;
  }
  .menu-onpokemon {
    height: 35px;
  }
  .logo-onpokemon,
  .menu-onpokemon {
    padding: var(--space-double);
  }
  #form-filters,
  #results-header {
    padding: var(--space-left-right-double);
  }
  .filter-title {
    font-size: 1.375rem;
    margin: var(--space-top-bottom-simple);
  }
  #name-pokemon,
  .order-calculation,
  #quantify-text {
    font-size: 1.125rem;
    padding: var(--space-simple-simple);
    border-radius: var(--border-radius-simple);
  }
  .order-calculation,
  #quantify-text {
    margin: var(--space-input-double);
  }
  #name-pokemon {
    width: 260px;
  }
  #name-pokemon::placeholder {
    font-size: 1rem;
  }
  .order-calculation {
    width: 280px;
    height: 44px;
  }
  #quantify-text {
    min-width: 455px;
    min-height: 2px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1799px) {
  #container-pokemon {
    min-width: 1000px;
  }
  .logo-onpokemon {
    height: 40px;
  }
  .menu-onpokemon {
    height: 35px;
  }
  .logo-onpokemon,
  .menu-onpokemon {
    padding: var(--space-triple);
  }
  #form-filters,
  #results-header {
    padding: var(--space-left-right-triple);
  }
  .filter-title {
    font-size: 1.625rem;
    margin: var(--space-top-bottom-double);
  }
  #name-pokemon,
  .order-calculation,
  #quantify-text {
    font-size: 1.125rem;
    padding: var(--space-simple-simple);
    border-radius: var(--border-radius-simple);
  }
  .order-calculation,
  #quantify-text {
    margin: var(--space-input-double);
  }
  #name-pokemon {
    width: 230px;
  }
  #name-pokemon::placeholder {
    font-size: 1rem;
  }
  .order-calculation {
    width: 250px;
    height: 44px;
  }
  #calculation-selector {
    width: 290px;
    margin-right: 0px;
  }
  #quantify-text {
    min-width: 455px;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2600px) {
  .logo-onpokemon {
    height: 50px;
  }
  .menu-onpokemon {
    height: 40px;
  }
  .logo-onpokemon,
  .menu-onpokemon {
    padding: var(--space-quadruple);
  }
  #form-filters,
  #results-header {
    padding: var(--space-left-right-triple);
  }
  .filter-title {
    font-size: 1.75rem;
    margin: var(--space-top-bottom-double);
  }
  #name-pokemon,
  .order-calculation,
  #quantify-text {
    font-size: 1.25rem;
    padding: var(--space-simple-simple);
    border-radius: var(--border-radius-simple);
  }
  .order-calculation,
  #quantify-text {
    margin: var(--space-input-triple);
  }
  #name-pokemon {
    width: 260px;
  }
  #name-pokemon::placeholder {
    font-size: 1.125rem;
  }
  .order-calculation {
    width: 280px;
    height: 45px;
  }
  #calculation-selector {
    width: 320px;
    margin-right: 0px;
  }
  #quantify-text {
    min-width: 455px;
  }
}
