#result-cards {
  margin: 0 auto;
  max-width: 2000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: var(--color-white);
}
#not-pokemon {
  font-weight: 600;
  padding: 20px 0px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
}
.card {
  margin: 30px;
  position: relative;
}
.card-box {
  height: 200px;
  width: 200px;
  background-color: var(--color-card);
  border-radius: 8px;
  box-shadow: var(--shadown-drop-medium-cards);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.poke-img {
  width: 135px;
  height: 135px;
}
.poke-number {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  box-shadow: var(--shadown-drop-medium-cards);
  font-size: 1rem;
  font-weight: var(--font-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 250px;
  right: 160px;
  color: var(--color-white);
}
.card-info {
  padding: 5px;
  width: 100%;
}
.poke-title {
  font-size: 1.125rem;
  margin-bottom: 2px;
}
.poke-items {
  padding: 0;
  margin: 0;
}
.li-item-card {
  display: inline-block;
  padding: 3px 7px;
  margin: 2px;
  margin-left: 0px;
  border-radius: 3px;
  font-size: 0.875rem;
  color: var(--color-white);
}
.button-modal {
  font-size: 1rem;
  color: var(--color-dark-gray);
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
  position: absolute;
  right: 3px;
  bottom: 10px;
  padding: 0;
}
.container-icon {
  background-color: var(--color-medium-gray);
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
}
.small-icon {
  height: 10px;
  width: 10px;
}
