#not-pokemon {
  font-size: 2.6rem;
}
.list-title-table-header,
.type-text-table,
.evolution-p {
  font-size: 1rem;
}
.modal-titles-table,
.list-item-card-modal,
.item-table-text,
.poke-items-name-table,
.poke-about,
.poke-rarity,
.poke-items-name-table,
.list-title-table {
  font-size: 1.2rem;
}
.poke-number,
.li-item-card {
  font-size: 1.4rem;
}
.header-poke-name,
.header-poke-number,
.modal-titles {
  font-size: 1.6rem;
}
.poke-title {
  font-size: 2rem;
}

#result-cards {
  margin: 5rem auto;
  max-width: 1800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: var(--color-white);
}
#not-pokemon {
  font-weight: 600;
  padding: 2rem 0;
  text-align: center;
  line-height: 1.8;
}
.card {
  margin: 3rem;
  margin-bottom: 0;
  position: relative;
}
.card-box {
  height: 20rem;
  width: 20rem;
  background-color: var(--color-card);
  border-radius: 0.8rem;
  box-shadow: var(--shadown-drop-cards);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}
.poke-img {
  width: 13.5rem;
  height: 13.5rem;
}
.poke-number {
  width: 5rem;
  height: 3rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadown-drop-cards);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 185px;
  right: 160px;
  color: var(--color-white);
}
.card-info {
  padding: 0.5rem;
  width: 100%;
  margin-left: 3rem;
  margin-bottom: 3rem;
}
.poke-title {
  margin-bottom: 2px;
}
.poke-items {
  padding: 0;
  margin: 0;
}
.li-item-card {
  display: inline-block;
  padding: 0.3rem 0.7rem;
  margin: 0.5rem;
  margin-left: 0;
  border-radius: 0.3rem;
}
.container-icon {
  background-color: var(--transparency-light-gray);
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.small-icon {
  height: 10px;
  width: 10px;
}

/* card modal */
#modal-pokemon {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  background-color: var(--color-dark-dark-blue);
  justify-content: center;
  align-items: center;
}
.modal-group {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.modal-container .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-container .close:hover,
.modal-container .close:focus {
  color: var(--color-light-blue);
  text-decoration: none;
  cursor: pointer;
}

/* cards modal header*/
.group-header,
.group-modal-items {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.group-header {
  margin: 30px 0;
  position: relative;
}
.close-modal {
  width: 5rem;
  height: 5rem;
  background: var(--color-medium-gray);
  border-radius: 0.3rem;
  border: none;
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 30px;
  right: -30px;
  box-shadow: var(--shadown-modal);
  cursor: pointer;
}
.group-header-number,
.group-header-name {
  background-color: var(--color-yellow);
  margin-right: 10px;
  border-radius: 2px;
  height: 100%;
  display: flex;
  align-items: center;
}
.group-header-name {
  padding: 4px 4px;
  width: 130px;
}
.group-header-number {
  padding: 4px 20px;
}
.header-poke-number,
.header-poke-name {
  color: var(--color-white);
  font-weight: 600;
}

/* cards modal body */
.group-modal-items {
  overflow-y: visible;
  overflow-x: hidden;
  height: 100vh;
  margin-bottom: 30px;
  background-color: var(--color-white);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr;
}

/* cards modal body header */
.group-header-items {
  margin: 20px 0 15px 0;
}
.container-header-items,
.container-group-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 5px 0;
}
.container-group-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 8px;
}
.items-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.container-group-stats td {
  width: 10%;
}
.container-modal-image-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-poke-img {
  height: 80px;
  width: 80px;
}
.poke-about {
  width: 100%;
  margin: 10px 0;
  padding: 2% 8%;
  text-align: center;
  line-height: 1.3;
}
.poke-rarity {
  text-align: center;
  margin: 3px 0;
  font-weight: 600;
}
.td-items {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.td-item p {
  display: inline;
}
.list-title-table-header {
  font-weight: 600;
}

/* cards modal body types */
.container-group-modal-text {
  padding: 0 10px;
}
.container-list-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 15px;
}
.container-list-type ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.modal-titles-table {
  font-weight: 600;
}
.list-item-card-modal {
  display: inline-block;
  padding: 0.3rem 0.7rem;
  margin: 5px 2px;
  border-radius: 0.3rem;
}

/* cards modal body move-special */
.modal-titles-table {
  text-align: center;
}
.group-move-special {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 5px;
}
.group-moves-title {
  display: grid;
  grid-template-areas: "name-pokemon type-pokemon";
  align-items: center;
}
.list-items-table,
.list-items-table-body {
  margin: 0 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  column-gap: 8px;
  row-gap: 5px;
}
.poke-items-name-table,
.list-title-table {
  font-weight: 600;
  padding: 2px 0;
}
.poke-items-name-table,
.type-text-table {
  padding: 0;
  display: inline;
}
.type-text-table {
  justify-self: flex-end;
  text-align: right;
  grid-area: type-pokemon;
}
.container-info-text-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.group-moves-attack {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
.list-items-table {
  margin: 5px 0;
}
.modal-titles {
  margin: 10px 0;
  text-align: center;
}
.container-movements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.evolution-container {
  height: 100%;
  width: 100px;
  background-color: var(--color-card);
  border-radius: 0.8rem;
  box-shadow: var(--shadown-drop-cards);
  padding: 5px;
  margin: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.evolution-img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.evolution-p {
  font-weight: 600;
  text-align: center;
}

.modal-group::-webkit-scrollbar {
  width: 5px;
}
.group-modal::-webkit-scrollbar-track {
  background: var(--transparency-light-gray);
  border-radius: 2px;
}
.modal-group::-webkit-scrollbar-thumb {
  background-color: var(--color-medium-blue);
  border-radius: 10px;
}
.modal-group {
  scrollbar-width: thin;
  scrollbar-color: var(--color-medium-blue) var(--transparency-light-gray);
}

@media screen and (min-width: 500px) and (max-width: 999px) {
  .close-modal {
    top: 20px;
    right: -20px;
  }
  .group-header {
    margin: 50px 0;
  }
  .group-header-name {
    margin-right: 20px;
  }
  .group-modal-items {
    margin-bottom: 50px;
  }
  .evolution-img {
    height: 80px;
    width: 80px;
  }
  .modal-poke-img {
    width: 140px;
    height: 140px;
  }
  .group-header-name {
    width: 250px;
  }
  .list-title-table-header,
  .type-text-table,
  .evolution-p,
  .modal-titles-table,
  .list-item-card-modal,
  .item-table-text,
  .poke-items-name-table,
  .poke-about,
  .poke-rarity,
  .poke-items-name-table,
  .list-title-table,
  .li-item-table-header {
    font-size: 1.4rem;
  }
  .poke-number,
  .li-item-card {
    font-size: 1.6rem;
  }
  .header-poke-name,
  .header-poke-number,
  .modal-titles {
    font-size: 1.8rem;
  }
  .poke-title {
    font-size: 2.2rem;
  }
  .evolution-container {
    width: 150px;
  }
}

@media screen and (min-width: 1000px) {
  .modal-group {
    width: 60%;
  }
  .group-header-name {
    width: 250px;
  }
  .evolution-img {
    height: 100px;
    width: 100px;
  }
  .modal-poke-img {
    width: 180px;
    height: 180px;
  }
  .list-title-table-header,
  .type-text-table,
  .evolution-p,
  .modal-titles-table,
  .list-item-card-modal,
  .item-table-text,
  .poke-items-name-table,
  .poke-about,
  .poke-rarity,
  .poke-items-name-table,
  .list-title-table,
  .li-item-table-header {
    font-size: 1.8rem;
  }
  .poke-number,
  .li-item-card {
    font-size: 2rem;
  }
  .header-poke-name,
  .header-poke-number,
  .modal-titles {
    font-size: 2.6rem;
  }
  .poke-title {
    font-size: 3rem;
  }
  .evolution-container {
    width: 150px;
  }
}
