.group-header {
  display: flex;
  justify-content: flex-start;
  width: 280px;
}
.header-number,
.header-name {
  background-color: var(--color-yellow);
  margin-right: 10px;
  border-radius: 2px;
  height: 15px;
  display: flex;
  align-items: center;
}
.header-name {
  padding: 5px 4px;
  margin-bottom: 5px;
  width: 130px;
}
.header-number {
  padding: 5px 20px;
}
.modal-poke-number,
.modal-poke-name {
  color: var(--color-white);
  font-size: 2rem;
}

.first {
  text-align: center;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.group-moves {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-around;
}

.titleAttack,
.group-evolutions,
.group-stats{
  background-color: #daf1f9;
  border-radius: 20px;
  padding: 10px;
}

.evolution-p{
  font-size: 1.5rem;
}
  
.group-modal {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85vh;
  width: 60vw;
  background-color: var(--color-white);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.container-group {
  justify-content: space-around;
  margin: 0 6px;
}
.group-img {
  place-self: center;
  margin: 4px 0;
}
.modal-poke-img {
  text-align: center;
  height: 100px;
  width: 100px;
}
.poke-about {
  margin: 3px 10px;
  text-align: center;
  line-height: 1.3;
  font-size: 2rem;
}
.poke-rarity {
  text-align: center;
  margin: 3px 0;
  font-size: 2rem;
}
.modal-titles {
  font-weight: var(--font-bold);
  font-size: 2rem;
  margin: 7px 0 3px 0;
}
.list-title {
  font-weight: var(--font-bold);
  font-size: 1.5rem;
}
.li-item {
  display: inline-block;
  padding: 1px 4px;
  margin: 1px 2px;
  margin-left: 0px;
  border-radius: 10px;
  font-size: 2rem;
}
.poke-items {
  margin-left: 5px;
}

.poke .group-modal::-webkit-scrollbar {
  width: 5px;
}
.group-modal::-webkit-scrollbar-track {
  background: var(--transparency-light-gray);
  border-radius: 2px;
}
.group-modal::-webkit-scrollbar-thumb {
  background-color: var(--color-medium-blue);
  border-radius: 10px;
}
.group-modal {
  scrollbar-width: thin;
  scrollbar-color: var(--color-medium-blue) var(--transparency-light-gray);
}